:root {
  --scn-duration-fast: 100ms;
  --scn-duration-normal: 150ms;
  --scn-duration-slow: 250ms;

  --scn-ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --scn-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --scn-ease-out: cubic-bezier(0, 0, 0.2, 1);
}