:root {
  --scn-space-0: 0;
  --scn-space-1: 0.25rem;
  --scn-space-2: 0.5rem;
  --scn-space-3: 0.75rem;
  --scn-space-4: 1rem;
  --scn-space-5: 1.25rem;
  --scn-space-6: 1.5rem;
  --scn-space-8: 2rem;
  --scn-space-10: 2.5rem;
  --scn-space-12: 3rem;
  --scn-space-16: 4rem;
  --scn-space-20: 5rem;
  --scn-space-24: 6rem;
}