:root {
  --scn-background: #ffffff;
  --scn-foreground: #09090b;

  --scn-primary: #18181b;
  --scn-primary-foreground: #fafafa;

  --scn-secondary: #f4f4f5;
  --scn-secondary-foreground: #18181b;

  --scn-muted: #f4f4f5;
  --scn-muted-foreground: #71717a;

  --scn-border: #e4e4e7;

  --scn-radius-sm: 0.25rem;
  --scn-radius-md: 0.375rem;
  --scn-radius-lg: 0.5rem;
}